name: Fetch & Build Documentation

on:
  repository_dispatch:
    types: [build-doxygen]
  workflow_dispatch:

jobs:
  Build-Deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout THIS repo (where html will be committed)
      - name: Checkout current repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Delete local doc files
        run: |
          FILE_TYPES=(".md" ".txt" ".png" ".jpg" ".bmp")
          echo "Deleting local files: "
          for type in ${FILE_TYPES[@]}; do
            find . -name "*$type"
            find . -name "*$type" -delete
          done
        
      # # Set up SSH key for external repository
      # - name: Setup SSH key
      #   uses: webfactory/ssh-agent@v0.9.0
      #   with:
      #     ssh-private-key: ${{ secrets.READACCESSKEY }}

      # Checkout OTHER repository using SSH
      - name: Checkout external repository
        uses: actions/checkout@v4
        with:
          repository: GrzegorzKrug/UE5_YasiuSplineMeshed
          ssh-strict: true
          ssh-key: ${{ secrets.READACCESSKEY }}
          path: plugin

      - name: Setup git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
      # Commit ONLY /html to main
      - name: Commit repo
        run: |
          # ls -a
          # pwd
          #git checkout main     

          # Mv has issues with overwrite, rsync? 
          rm -r plugin/.git
          cp -r plugin/* .
          rm plugin -r

          FILE_TYPES=(".md" ".txt" ".png" ".jpg" ".bmp")
          echo ${FILE_TYPES[@]}
          git status          
          git add -u
          
          for type in ${FILE_TYPES[@]}; do
            if find . -name "*$type" | grep -q . ; then
              echo "Adding file types to git:" $type
              find . -name "*$type"
              git add -- "*$type"
            fi
          done

          echo "Status after 'git add'"
          git status 
          
          if git diff --cached --quiet; then
            echo "No changes were made"
          else
            git commit -m "Automatic docs update"
            git push origin main
          fi
          
      # Install Doxygen + graphviz
      - name: Install Doxygen and graphviz
        run: |
          sudo apt-get update
          sudo apt-get install -y graphviz
          DOXYGEN_URL=$(curl -s https://api.github.com/repos/doxygen/doxygen/releases/latest \
            | grep "browser_download_url" \
            | grep -E linux.*tar \
            | head -n 1 \
            | sed -E 's/.*"browser_download_url": "(.*)".*/\1/')
          wget $DOXYGEN_URL -O doxygen.tar.gz
          tar -xzf doxygen.tar.gz
          sudo cp doxygen*/bin/doxygen /usr/local/bin/

      - name: Show Doxygen version
        run: doxygen --version

      # Run Doxygen against the OTHER repo
      - name: Run Doxygen
        run: doxygen Doxyfile                
      
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./html
          publish_branch: gh-pages
          # optional: keep_history: true
          
  
